//
//Home Styles
//

@import '../../../Styles/Variables.scss';

.Home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

    .Home_Inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

        .Home_BG {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
            .Home_BG-Image {
                width: 100%;
                height: 100%;
                background: url('../../../Assets/Home/LegacyHomeBG.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

        .Home_Content {
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 1920px;
            z-index: 2;
        }

            .Home_Content-Inner {
                width: 100%;
                height: 100%;
                position: relative;
            }

                

                .Home_Content-Header-Wrap {
                    position: absolute;
                    top: 50%;
                    left: 365px;
                }

                    .Home_Content-Tag {
                        font-size: 14px;
                        font-weight: 200;
                    }

                    .Home_Content-Header-Text {
                        font-size: 70px;
                        font-weight: 700;
                        white-space: nowrap;

                    }

                .Home_Content-Contact {
                    position: absolute;
                    left: 365px;
                    bottom: 5%;
                    color: color(white);
                    font-size: 14px;
                    font-weight: 200;
                    transition: all;
                }

                .Home_Content-Works {
                    position: absolute;
                    right: 200px;
                    bottom: 5%;
                    color: color(white);
                    font-size: 14px;
                    font-weight: 200;
                }


@media screen and (max-height: 700px){
    .Home_Content-Header-Wrap {
        top: 45%;
        left: 240px;
    }
    .Home_Content-Tag {
        font-size: 12px;
    }
    .Home_Content-Header-Text {
        font-size: 50px;
    }
    .Home_Content-Contact {
        left: 240px;
        font-size: 12px;
    }
    .Home_Content-Works {
        right: 100px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1400px){
    .Home_Content-Header-Wrap {
        top: 45%;
        left: 240px;
    }
    .Home_Content-Tag {
        font-size: 12px;
    }
    .Home_Content-Contact {
        left: 240px;
        font-size: 12px;
    }
    .Home_Content-Works {
        right: 100px;
        font-size: 12px;
    }
}

@media screen and (max-width: 900px){
    .Home_Content-Header-Wrap {
        top: 45%;
        left: 60px;
    }
    .Home_Content-Contact {
        left: 60px;
        font-size: 12px;
    }
    .Home_Content-Works {
        right: 60px;
    }
}

@media screen and (max-width: 700px){
    .Home_Content-Header-Wrap {
        top: 50%;
    }
    .Home_Content-Header-Text {
        font-size: 50px;
    }
}

@media screen and (max-width: 500px){
    .Home_Content-Header-Wrap {
        top: 50%;
        left: 30px;
    }
    .Home_Content-Header-Text {
        font-size: 35px;
    }
    .Home_Content-Contact {
        left: 30px
    }
    .Home_Content-Works {
        right: 30px;
    }
}

@media screen and (max-width: 360px){
    .Home_Content-Header-Text {
        font-size: 32px;
    }
}

