//
// Nav Site Links Styles
//

@import '../../../../../Styles/Variables.scss';

.NavSiteLinks {
    position: absolute;
    left: 300px;
    bottom: 17%;
}

        .NavSiteLinks_List {
            position: relative;
        }

            .NavSiteLinks-List-Item {
                margin-bottom: 30px;
                display: flex;
                align-items: center;
            }
                        .NavSiteLinks-List-Item:last-child {
                            margin-bottom: 0;
                        }

                .NavSiteLinks-List-Item-Number {
                    font-size: 12px;
                    font-weight: 100;
                    transform-origin: bottom left;
                    transform: rotate(-90deg);
                }

                    .NavSiteLinks_List-Item-Link {
                        font-size: 55px;
                        font-weight: 700;
                        color: color(white);
                        margin-left: 40px;
                    }


@media screen and (max-height: 700px){
    .NavSiteLinks {
        bottom: 13%;
        left: 290px;
    }
    .NavSiteLinks_List-Item-Link {
        font-size: 40px;
    }
}

@media screen and (max-height: 600px){
    .NavSiteLinks {
        bottom: 10%;
    }
    .NavSiteLinks_List-Item-Link {
        font-size: 35px;
    }
}

@media screen and (max-width: 1700px){
    .NavSiteLinks {
        left: 200px;
    }
}

@media screen and (max-width: 1200px){
    .NavSiteLinks {
        left: 100px;
    }
}

@media screen and (max-width: 900px) {
    .NavSiteLinks_List-Item-Link {
        font-size: 40px;
    }
    .NavSiteLinks-List-Item-Number {
        font-size: 10px;
    }
    .NavSiteLinks {
        bottom: 30%;
    }
}

@media screen and (max-width: 800px) {
    .NavSiteLinks {
        bottom: 25%;
    }
}

@media screen and (max-width: 500px) {
    
    .NavSiteLinks {
        left: 60px;
        bottom: 30%;
    }
    .NavSiteLinks_List-Item-Link {
        font-size: 38px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 500px) and (max-height: 900px){
    .NavSiteLinks {
        top: 20%;
    }
}   

@media screen and (max-width: 360px){
    .NavSiteLinks_List-Item-Link {
        font-size: 32px;
    }
}
