//
// SASS Variables
//

$color: (
    black: #141414,
    white: #f9f9f9,
    darkWhite: #6a6a6a,
    grey: #999,
    DeepBlack: #000,
);

@function color($colorName){
    @return map-get($color, $colorName)
}