//
//Logo Styles
//

@import '../../../../Styles/Variables.scss';

.Logo {
    position: fixed;
    left: 200px;
    top: 100px;
    color: color(white);
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 800;
    mix-blend-mode: difference;
}

@media screen and (max-height: 700px){
    .Logo {
        font-size: 32px;
        top: 80px;
        left: 100px;
    }
}

@media screen and (max-width: 1400px){
    .Logo {
        font-size: 32px;
        top: 80px;
        left: 100px;
    }
}

@media screen and (max-width: 900px){
    .Logo {
        font-size: 32px;
        top: 50px;
        left: 60px;
    }
}

@media screen and (max-width: 500px){
    .Logo {
        left: 30px;
    }
}

@media screen and (max-width: 500px) and (max-height: 600px){
    .Logo {
        top: 35px;
    }
}