//
// About Intro
//

@import '../../../../Styles/Variables.scss';

.About_Intro {
    width: 100%;
    padding: 0 300px;
}

    .About_Intro-Section-Title-Wrap {
        width: 100%;
    }

        .About_Intro-Section-Text {
            color: color(black);
        }
        .Section-Text-Title {
            font-size: 50px;
            font-weight: 600;
            white-space: nowrap;
        }

    .About_Intro-Section-Text-Text-Wrap {
        width: 100%;
        margin-top: 100px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

        .Section-Text-Text {
            width: 40%;
            font-size: 20px;
            line-height: 40px;
        }

        .About_Intro-Section-AwwwardsBadge {
            width: 40%;
            margin-top: 40px;
        }


@media screen and (max-height: 700px){
    .About_Intro {
        padding: 0 150px;
    }
    .Section-Text-Title {
        font-size: 40px;
        margin-bottom: 5px;
    }
    .Section-Text-Text  {
        width: 50%;
        padding-right: 50px;
    }
    .About_Intro-Section-AwwwardsBadge {
        width: 50%;
    }
}

@media screen and (max-width: 1400px){
    .About_Intro {
        padding: 0 150px;
    }
    .Section-Text-Title {
        font-size: 40px;
        margin-bottom: 5px;
    }
    .Section-Text-Text  {
        width: 50%;
    }
    .About_Intro-Section-AwwwardsBadge {
        width: 50%;
    }
}

@media screen and (max-width: 900px){
    .About_Intro {
        padding: 0 60px;
    }
    .Section-Text-Title {
        font-size: 40px;
    }
    .About_Intro-Section-Text-Text-Wrap {
        margin-top: 60px;
    }
    .Section-Text-Text {
        width: 100%;
        padding-right: 0;
    }
    .About_Intro-Section-AwwwardsBadge {
        width: 50%;
        align-self: flex-start;
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px){
    .Section-Text-Title {
        font-size: 6vw;
    }
    .Section-Text-Text {
        font-size: 5vw;
        line-height: 8vw;
    }
    .About_Intro-Section-AwwwardsBadge {
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    .About_Intro {
        padding: 0 30px;
    }
}